/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem
coverage/*
.DS_Store
test/dummy/tmp/*
test/dummy/log/*.log
test/dummy/storage/*.sqlite3
test/dummy/.byebug_history
test/dummy/config/localeui.rb

.byebug_history
